*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    color: #555;
    font-family: "Rubik" ,sans-serif;
    font-weight: 400;
    line-height: 1;
    background-color: #fdf2e9;
    
    
}
html{
    scroll-behavior: smooth;
    font-size:62.5%;
/* overflow-x: hidden; */
}
.btn-mobile-nav{
border: none;
background: none;
cursor: pointer;
display: none ;
}
.icon-mobile-nav{
   height: 4.8rem;
   width: 4.8rem;
   color: #333 ;  
}
.icon-mobile-nav[name="close-outline"]{
    display: none;
}
/* STIKY NAVIGATON */
.sticky.header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 9999;
    background-color:rgba(255,255,255,0.97);
    box-shadow: rgba(0,0,0,0.03);
}
.sticky.section-hero{
    margin-top: 9.6rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;


}
.logo{
    height: 6.2rem;
    border-radius: 50%;
   
}
.main-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.2rem;
   
}
 .main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
    color: #cf711f;
}
.heading-primary{
    letter-spacing: -0.5px;
    color: #333;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.01;
    margin-bottom: 3.2rem;
}
.section-hero{
    background-color:#fdf2e9 ;
    padding: 4.8rem 0 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    align-items:center ;
    grid-template-columns: 1fr 1fr;
  column-gap: 9.9rem;
  row-gap: 1.2rem;
}
.hero-img{
    width: 100%;
   
}
.hero-description,.bio-description{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.section-bio{
    height: 100vh ;
  
}

.btn:link ,.btn:visited {
    display: inline-flex;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.9rem ;
   transition:all 0.3s ;

}
.btn--full:link,
.btn--full:visited{
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover,
.btn--full:active{
 background-color: #cf711f;
    
}
.btn--outline:link,
.btn--outline:visited {
 background-color: #fff;
 color: #555;
 }
.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
   
    box-shadow: inset 0 0 3px #fff;
}
.margin-right-sm{
    margin-right: 1.3rem !important;
   
}
.container {
    max-width: 800rem;
    padding-left: 2rem;
    
}

.main-heading {
    text-align: center;
    color: #333;
} 

.bio{
    display: flex;
    
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}
.grid-2-cols{
    
        grid-template-columns: 2fr 1fr;
    
}

.bio-description{
    
        font-size: 1.8rem; 
        line-height: 1.8;
        text-align: center;
        border-radius: 22px; 
        background-color: #ded7d0;
        padding: 1rem 1rem;
        
       
 
}
.bio-description:hover{
    background-color: #fff;


}

.step-img{
    width: 34rem;
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main{
    max-width: 800rem;
    padding-left: 2rem;
     
}

.edu{
    display: flex;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0.3rem;
}
.slide-row{
   display: flex;
   width: 320rem; 
   transition: 0.5s;
}
.slide-col{
    width: 80rem;
    height: 40rem;
    position: relative;
}
.school-photo{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    
}
.school-photo img{
    height: 100%;
    border-radius: 10px;

}
.verfy{
    width: 8rem;
   height: 2rem;
    color: #333;
    font-weight: 500;
    background-color: #84532c;
    border-radius: 1rem;
    align-items: center;
}
.verfy:hover{
background-color: #e67e22;
}
.school-info{
    background: #2d3a59;
    width: 52rem;
    height: 27rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}
.school-info p{
font-size: 18px;
line-height: 24px;
}
.school-info h3{
    margin: 4.9rem 0 5px;
    color: #fff;
}
.schooling{
    width: 80rem;
    height: 40rem;
    position:relative;
    margin-top: 30rem;
    align-items: center;
    transform: translate(20%,-30%);


}
.indicator{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5rem;
}
.btn-sl{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #e67e22;
    cursor: pointer;
}

.active{
    width: 4.5rem;
}
.schools{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Footer Styles */

.footer {
    background-color: #463131;
    color: #fff;
    padding: 3rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200rem;
    margin: 0 2rem;
}

.footer-logo img {
    width: 6rem;
    height: auto;
    border-radius: 50%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
}

.footer-social .social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px;
}

.footer-social .social-link:hover {
    color: #cf711f;
}

.footer-bottom {
  
    padding: 1rem 0;
    text-align: center;
}
.skill{
/* background-color: dodgerblue; */
min-height: 100vh;
background-attachment:fixed;
background-size: cover;
justify-content: center;
align-items: center;
display: flex;
}
.carousel{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    perspective: 100rem;
}
.carousel-cards{
    position: relative;
    width: 20rem;
    height: 20rem;
    transform-style: preserve-3d;
    transform: translateZ(-25rem);
    transition: 0.3s ease-in;
}
.carousel_img{
   width: 100%;
   height: 100%;
   display: inline-block; 

}
.carousel-card{
   width: 100%;
   height: 100%;
   position: absolute;
   border: 2px solid #fff; 
   border-radius: 0.rem;
   font-size: 3rem;
   font-weight: 700;
}
.carousel-card:nth-child(1){
    transform: rotateY(0deg) translateZ(25rem);
}
.carousel-card:nth-child(2){
    transform: rotateY(45deg) translateZ(25rem);
}
.carousel-card:nth-child(3){
    transform: rotateY(90deg) translateZ(25rem);
}
.carousel-card:nth-child(4){
    transform: rotateY(135deg) translateZ(25rem);
}
.carousel-card:nth-child(5){
    transform: rotateY(180deg) translateZ(25rem);
}
.carousel-card:nth-child(6){
    transform: rotateY(225deg) translateZ(25rem);
}
.carousel-btn{
    outline: none;
    border: none;
    border-radius: 0.2rem;
    background-color: #00599c;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.2em;
    margin-top: 2rem;
    margin: 0 2rem;
    font-weight: 500;
    cursor: pointer;
}
.carousel-btn:hover{
transform: scale(1.04);
background: #000;
}
a{
display: inline-flex;
    padding: 1.6rem 3.2rem;
   font-size: 2rem;
   font-weight: 600;
   text-decoration: none;
   color:#fdf2e9;
}